#logo {
                width: 100px;
                height: 100px;
                margin-right: 35px;
                margin-bottom: 10px;
         }    

            
                nav span {
                margin-left: 35px;
                 border: 1px solid blue; /* Синяя рамка вокруг ссылок */
                 padding: 2px; /* Поля вокруг текста */
                }
               
                nav a {
                    padding: 2px; /* Поля вокруг текста */
                    text-decoration: none; /* Скрываем подчёркивание */
                   }
header{
    /*border-bottom: 1px solid blue;*/
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: bisque;
    padding-left: 20px;
    padding-right: 20px;
}

footer{
    /*border-bottom: 1px solid blue;*/
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: bisque;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

body{
    margin: 0px;
}

main{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(188, 202, 181);
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #ccc;
}

form{
    margin-top: 20px;
}
form textarea {
    width: 100%;
    height: 100px;
}
form input.sto {
    width: 200px;
}
form select {
    width: 200px;
}

@media (orientation: portrait) and (max-device-width: 926px) {

    header {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
       }
    #logo, header h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    header h1 {
        width: calc(100% - 135px);
    }
    nav {
        order: 3;
        margin: 20px 0px 0px 0px;
        width: 100%;
    }
    nav span {
        margin: 0;
    }
    main table {
        order: -1;
        margin-top: 20px;
    }

}

@media (orientation: landscape) or (min-device-width: 926px) {

    #logo {
        float: left;
    }

}

